@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      }
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@@webRoot/index.html">HOME</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@@webRoot/projects2.html">FEATURES</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@@webRoot/projects3.html">PRICING</a>
      </li> -->

      





      
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>




  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">
      }
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@@webRoot/projects4.html">FREE TOOLS</a>
      </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://realestatae-lu34c.ondigitalocean.app/">LOGIN</a>
      </li>






  
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}
